.error {
    border: 1px solid red !important;
}

.text-error {
    color: red;
}

.block-label {
    font-weight: 600;
}

.block-content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    max-width: 700px;
}

.alert {
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-progress {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}